###############################################################################
# Normalize EOL for all files that Git considers text files.
###############################################################################
* text=auto eol=lf

###############################################################################
# behavior for hdr files
#
# hdr files are treated as binary by default.
###############################################################################
*.hdr binary